@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
}

html {
  scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;font-family: "Roboto";
  font-size: 20px;
  min-height: 100vh;
  background-image: linear-gradient(
    135deg,
    hsl(0deg 0% 100%) 22%,
    hsl(307deg 11% 58%) 90%,
    hsl(306deg, 18%, 21%) 100%
  );
}

h2, 
p {
  margin: 10px;
}

/* =====================Header======================= */

.header-inner {
  display: flex;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  background: linear-gradient(#3f2c3d 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  line-height: 50px;
}

.nav-link:hover {
  --p: 100%;
  color: #ffffff;
}

.container-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* =====================MAIN======================= */

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 33%;
}

.contact-list, 
.skill-list {
  padding-left: 0px;
  list-style: none;
}

.contact-logo, 
.skill-logo {
  height: 20px;
}

.contact-link, 
.skill-link {
  text-decoration: none;
  color: #000000;
}

.education-logo, 
.project-logo {
  height: 70px;
  padding-left: 30px;
}

.container-center-block {
  text-align: center;
}

.important-text {
  font-weight: bold;
}

.container-right-block {
  text-align: right;
}

/* =====================FOOTER======================= */

.container-center-footer-block {
  margin-right: 60px;
}